
p {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777
}
h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}
.name{
    background-color:#4aaaa5;
    border-color: #cccccc;
    color: #ffffff;
    height: 40px;
    width: 290px;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-display: bold;
    padding-top: 10px;
    font-size: 24px;
}
footer{
    background-color:#666666;
    border-top: 8px solid #4aaaa5;
    width: auto;
    text-align: center;
    color: #ffffff;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    height: 30px;
    padding-top: 20px;
    position: sticky;
    bottom: 0;
}
body{
    background-image: url("../images/folk-pattern.png");
    background-image: repeat;
}
img{
    width: 290px;
    height: 200 px;
    margin: 30px, 20px, 30px, 20px;
}

.menu{
    color: gray;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    float; right;
}
.top-section{
    width: auto;
    background: #ffffff;
}

.second-section{
    width: 960px;
    background: #ffffff;
    border-color: #dddddd;
    
}